@use './config/vars' as *;

.filter-form {
  display: none;

  @media screen and (min-width: 720px) {
    display: flex;
    flex-direction: column;
    max-width: 375px;

    &__title {
      display: flex;
      justify-content: space-between;
      align-items: center;        
    }

    &__submit-button {
      width: 40px;
      height: 40px;
      background: #fff;
      border: none;
      border-radius: $border-radius;
      box-shadow: $box-shadow;
    }

    &__list-wrapper {
      flex-grow: 1;
      max-width: 560px;
      background: $white;
      margin-top: 15px;
      margin-bottom: 15px;
      padding: 15px;
      border-radius: $border-radius;
      box-shadow: $box-shadow;

      @media screen and (min-width: 1200px) {
        padding: 20px; 
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
    
    &__clear-button {
      width: 100%;
      padding: 17px;
      text-transform: uppercase;
      color: $white;
      background: $bg-primary;
      border: none;
      border-radius: $border-radius;
      box-shadow: $box-shadow;
    }
  }
}