<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <title>Document</title>
</head>

<body>
  <header class="main-header">
    <nav class="main-navigation">
      <a href="index.html" class="main-header-logo">
        <img src="images/logo.svg" alt="shop logo">
        <h1>Online Store</h1>
      </a>
    </nav>
  </header>
  <main class="container">
    <ul class="breadcrumbs">
      <li><a href="index.html"><img src="images/home.svg" alt="Home"></a></li>
      <li><a href="#">eCommerce</a></li>
      <li class="breadcrumbs-current">Electronics</li>
    </ul>
    <form class="filters">
      <h2>Filters
        <button class="filters-button" type="submit">&lt;&lt;</button>
      </h2>
      <div class="filter-wrapper">
        <div class="filter" method="get" action="#">
          <fieldset>
            <legend>Multi Range</legend>
            <ul>
              <li class="filter-option radio">
                <input type="radio" id="filter-$10" name="price">
                <label for="filter-$10">$10</label>
              </li>
              <li class="filter-option radio">
                <input type="radio" id="filter-$10-$100" name="price">
                <label for="filter-$10-$100">$10-$100</label>
              </li>
              <li class="filter-option radio">
                <input type="radio" id="filter-$100-$500" name="price">
                <label for="filter-$100-$500">$100-$500</label>
              </li>
              <li class="filter-option radio">
                <input type="radio" id="filter-$500" name="price">
                <label for="filter-$500">$500</label>
              </li>
              <li class="filter-option radio">
                <input type="radio" id="filter-all" name="price" checked>
                <label for="filter-all">All</label>
              </li>
            </ul>
          </fieldset>
          <hr>
          <fieldset>
            <legend>Category</legend>
            <ul class="filter-type">
              <li class="filter-option">
                <div>
                  <input type="checkbox" id="filter-cell-phones">
                  <label for="filter-cell-phones">Cell Phones</label>
                </div>
                <span class="filter-count">1920</span>
              </li>
              <li class="filter-option">
                <div>
                  <input type="checkbox" id="filter-computers-and-tablets">
                  <label for="filter-computers-and-tablets">Computers & Tablets</label>
                </div>
                <span class="filter-count">1820</span>
              </li>
              <li class="filter-option">
                <div>
                  <input type="checkbox" id="filter-cell-phone-accessories" checked>
                  <label for="filter-cell-phone-accessories">Cell Phone Accessories</label>
                </div>
                <span class="filter-count">462</span>
              </li>
              <li class="filter-option">
                <div>
                  <input type="checkbox" id="filter-appliances">
                  <label for="filter-appliances">Appliances</label>
                </div>
                <span class="filter-count">6556</span>
              </li>
              <li class="filter-option">
                <div>
                  <input type="checkbox" id="filter-audio">
                  <label for="filter-audio">Audio</label>
                </div>
                <span class="filter-count">120</span>
              </li>
              <li class="filter-option">
                <div>
                  <input type="checkbox" id="filter-iphone-accessories">
                  <label for="filter-iphone-accessories">iPhone Accessories</label>
                </div>
                <span class="filter-count">353</span>
              </li>
              <li class="filter-option">
                <div>
                  <input type="checkbox" id="filter-cameras-and-camcorders">
                  <label for="filter-cameras-and-camcorders">Cameras & Camcorders</label>
                </div>
                <span class="filter-count">45</span>
              </li>
              <li class="filter-option">
                <div>
                  <input type="checkbox" id="filter-iphone-cases-and-clips">
                  <label for="filter-iphone-cases-and-clips">iPhone Cases & Clips</label>
                </div>
                <span class="filter-count">456</span>
              </li>
              <li class="filter-option">
                <div>
                  <input type="checkbox" id="filter-tv-and-home-theater">
                  <label for="filter-tv-and-home-theater">TV & Home Theater</label>
                </div>
                <span class="filter-count">55</span>
              </li>
              <li class="filter-option">
                <div>
                  <input type="checkbox" id="filter-small-kitchen-appliances">
                  <label for="filter-small-kitchen-appliances">Small Kitchen Appliances</label>
                </div>
                <span class="filter-count">10</span>
              </li>
            </ul>
          </fieldset>
          <hr>
          <fieldset>
            <legend>Brand</legend>
            <ul class="filter-type">
              <li class="filter-option">
                <div>
                  <input type="checkbox" id="filter-insigni" name="insigni">
                  <label for="filter-insigni">Insigni</label>
                </div>
                <span class="filter-count">220</span>
              </li>
              <li class="filter-option">
                <div>
                  <input type="checkbox" id="filter-samsung" name="samsung">
                  <label for="filter-samsung">Samsung</label>
                </div>
                <span class="filter-count">120</span>
              </li>
              <li class="filter-option">
                <div>
                  <input type="checkbox" id="filter-apple" name="apple">
                  <label for="filter-apple">Apple</label>
                </div>
                <span class="filter-count">320</span>
              </li>
              <li class="filter-option">
                <div>
                  <input type="checkbox" id="filter-hp" name="hp">
                  <label for="filter-hp">HP</label>
                </div>
                <span class="filter-count">32</span>
              </li>
              <li class="filter-option">
                <div>
                  <input type="checkbox" id="filter-sony" name="sony">
                  <label for="filter-sony">Sony</label>
                </div>
                <span class="filter-count">520</span>
              </li>
              <li class="filter-option">
                <div>
                  <input type="checkbox" id="filter-metra" name="metra">
                  <label for="filter-metra">Metra</label>
                </div>
                <span class="filter-count">55</span>
              </li>
              <li class="filter-option">
                <div>
                  <input type="checkbox" id="filter-dyne" name="dyne">
                  <label for="filter-dyne">Dyne</label>
                </div>
                <span class="filter-count">120</span>
              </li>
              <li class="filter-option">
                <div>
                  <input type="checkbox" id="filter-lg" name="lg">
                  <label for="filter-lg">LG</label>
                </div>
                <span class="filter-count">98</span>
              </li>
              <li class="filter-option">
                <div>
                  <input type="checkbox" id="filter-canon" name="canon">
                  <label for="filter-canon">Canon</label>
                </div>
                <span class="filter-count">99</span>
              </li>
              <li class="filter-option">
                <div>
                  <input type="checkbox" id="filter-speck" name="speck">
                  <label for="filter-speck">Speck</label>
                </div>
                <span class="filter-count">575</span>
              </li>
            </ul>
          </fieldset>
        </div>
      </div>
      <button class="button-clear-filters">Clear all filters</button>
    </form>
    <section class="catalog">
      <h2 class="visually-hidden">Products catalog</h2>
      <form class="search" method="get" action="#">
        <div class="search-results">
          <p>7,618 results found</p>
          <button class="button-like">
            <img src="images/like.svg" alt="heart icon">
          </button>
        </div>
        <label for="search-input" hidden>Search</label>
        <input class="input-search" id="search-input" type="text" placeholder="Search">
        <img class="img-search" src="images/search.svg" alt="search icon">
      </form>
      <ul class="catalog-list">
        <li class="catalog-item">
          <div class="catalog-item-image">
            <img src="images/apple-watch.jpg" alt="product image">
          </div>
          <div class="catalog-item-list">
            <p>
              <span class="catalog-item-rate">3.4
                <img src="images/star.svg" alt="star icon">
              </span>
              <span class="catalog-item-price">$399</span>
            </p>
            <h4>Apple Watch'Series 4 GPS</h4>
            <p>Redesigned from scratch and completely revised.</p>
          </div>
          <div class="add-to-buttons">
            <button class="button wishlist">
              <img src="images/heart.svg" alt="heart icon">
              Wishlist
            </button>
            <button class="button add-to-cart">
              <img src="images/shopping-bag.svg" alt="cart icon">
              Add to cart
            </button>
          </div>
        </li>
        <li class="catalog-item">
          <div class="catalog-item-image">
            <img src="images/jbl-speaker.jpg" alt="product image">
          </div>
          <div class="catalog-item-list">
            <p>
              <span class="catalog-item-price">$199</span>
            </p>
            <h4>JBL Speaker</h4>
            <p>Redesigned from scratch and completely revised.</p>
          </div>
          <div class="add-to-buttons">
            <button class="button wishlist">
              <img src="images/heart.svg" alt="heart icon">
              Wishlist
            </button>
            <button class="button add-to-cart">
              <img src="images/shopping-bag.svg" alt="cart icon">
              Add to cart
            </button>
          </div>
        </li>
        <li class="catalog-item">
          <div class="catalog-item-image">
            <img src="images/iphone-x.jpg" alt="product image">
          </div>
          <div class="catalog-item-list">
            <p>
              <span class="catalog-item-price">$899</span>
            </p>
            <h4>Apple iPhone X 128GB</h4>
            <p>Redesigned from scratch and completely revised.</p>
          </div>
          <div class="add-to-buttons">
            <button class="button wishlist">
              <img src="images/heart.svg" alt="heart icon">
              Wishlist
            </button>
            <button class="button add-to-cart">
              <img src="images/shopping-bag.svg" alt="cart icon">
              Add to cart
            </button>
          </div>
        </li>
        <li class="catalog-item">
          <div class="catalog-item-image">
            <img src="images/beats-headphones.jpg" alt="product image">
          </div>
          <div class="catalog-item-list">
            <p>
              <span class="catalog-item-price">$459</span>
            </p>
            <h4>Beats Headphones</h4>
            <p>Redesigned from scratch and completely revised.</p>
          </div>
          <div class="add-to-buttons">
            <button class="button wishlist">
              <img src="images/heart.svg" alt="heart icon">
              Wishlist
            </button>
            <button class="button add-to-cart">
              <img src="images/shopping-bag.svg" alt="cart icon">
              Add to cart
            </button>
          </div>
        </li>
        <li class="catalog-item">
          <div class="catalog-item-image">
            <img src="images/macbook-pro.jpg" alt="product image">
          </div>
          <div class="catalog-item-list">
            <p>
              <span class="catalog-item-price">$2499</span>
            </p>
            <h4>Apple Macbook Pro 512GB SSD</h4>
            <p>Redesigned from scratch and completely revised.</p>
          </div>
          <div class="add-to-buttons">
            <button class="button wishlist">
              <img src="images/heart.svg" alt="heart icon">
              Wishlist
            </button>
            <button class="button add-to-cart">
              <img src="images/shopping-bag.svg" alt="cart icon">
              Add to cart
            </button>
          </div>
        </li>
      </ul>
    </section>
    <div class="pagination">
      <a href="#"><span>&lt;</span></a>
      <ul class="pagination-list">
        <li class="pagination-item"><a href="#">1</a></li>
        <li class="pagination-item"><a href="#">2</a></li>
        <li class="pagination-item"><a href="#">3</a></li>
        <li class="pagination-item"><a href="#">4</a></li>
        <li class="pagination-item"><a href="#">5</a></li>
        <li class="pagination-item current"><a href="#">6</a></li>
        <li class="pagination-item"><a href="#">7</a></li>
        <li class="pagination-item"><a href="#">8</a></li>
        <li class="pagination-item"><a href="#">9</a></li>
        <li class="pagination-item"><a href="#">10</a></li>
      </ul>
      <a href="#"><span>&gt;</span></a>
    </div>
  </main>
</body>

</html>